<!DOCTYPE html>
<html lang="en">

<!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Display</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head> -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Display</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <style>
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .card {
      width: 200px;
      margin: 10px;
      padding: 10px;
      background-color: #f2f2f2;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card h3 {
      font-size: 18px;
      margin-top: 0;
    }

    .card p {
      font-size: 14px;
      margin-bottom: 8px;
    }
  </style>
</head>
<body style="background-color: #317773;">
  <div >
    <div class="d-flex flex-row mt-5">
      <a href="/home/" class="btn btn-primary ml-4 mr-4" style="width: 70px; height: 30px;font-size: 10px;">Back</a>
      <div id="cardContainer">
      <h5 style="color: white;">{{title}}</h5>
      </div>
    </div>

  </div>
  <div class="card-container" style="background-color: #317773;">
    {% for list in new_data_file %}
    <div class="card" style="align-items: center;background-color: #E2D1F9;">
        <h3 style="font-size: 14px;">{{list}}</h3>
        <a href="/{{my_string}}/{{list}}/" class="btn btn-primary" style="width: 70px; height: 30px;font-size: 10px;">click here</a>
    </div>
    {% endfor %}
  </div>
  
</body>
</html>


<script src="script.js"></script>


</html>